
  
  #app {
    font-family: $global-font-family;
    min-height: 100%;

  }

  #main {
    margin-left: 80px;
  }

  #splashImage {
    box-sizing: content-box;
    padding: 1px;
    height: 100vh;
    z-index: 10;
  }

  .hidden {
    visibility: hidden;
  }

  .frame {
    padding: 48px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0px;
  }

  .height-fixed {
    height: 50vh;
    width: 100%;
  }

  body {
    margin: 0px;
    padding: 0px;

    min-width: 100%;
    min-height: 100vh;

    background-color: $global-background-color;
    color: $global-base-text-color;


    // background: url(../../../public/Assets/images/BlueGeo_v2.png) no-repeat center fixed;
    // background-size: cover;
  }

  p {
      font-family: global-font-family;
      color: $global-base-text-color;
  }

  td {
    color: white;
  }

  a {
    text-decoration: none !important; 
    color:#ffffff;
  }

  /* Create a Parallax Effect */
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    /* Second image (Portfolio) */
    .bgimg-2 {
      min-height: 400px;
  }

  /* Third image (Contact) */
  .bgimg-3 {
      min-height: 400px;
  }

  .w3-wide {letter-spacing: 10px;}
  .w3-hover-opacity {cursor: pointer;}

  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
      .bgimg-1, .bgimg-2, .bgimg-3 {
          background-attachment: scroll;
      }
  }

