
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    vertical-align: top;
    height: 100%;
    width: 100%;
  }

  #main {
    background: url(../../../public/Assets/images/BlueGeo_v2.png) no-repeat center fixed;
    background-size: cover;
    padding: 48px;
    height: 100%;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0px;
  }

  .frame {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    vertical-align: top;
    overflow: inherit;
  }

  .height-fixed {
    height: 50vh;
    width: 100%;
  }

  body {
    margin: 0px;
    padding: 0px;
    padding-right: 48px;
    border: none;
  }

  p {
      color: whitesmoke;
  }

  td {
    color: white;
  }